*, ::after, ::before {
    box-sizing: border-box;
    font-family: Segoe UI;
}

h2 {
    margin: 0;
}

.card {
    width: 60%;
    min-height: 387px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #00000046;
    border-radius: .25rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -30%;
    margin-top: -228px;
}

.card-header {
    padding: .5rem 1rem;
    margin-bottom: 0;
    background-color: #00000010;
    border-bottom: 1px solid #00000046;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.card-footer {
    padding: .5rem 1rem;
    background-color: #00000010;
    border-top: 1px solid #00000046;
}

a {
    text-decoration: none;
    color: rgb(0, 72, 255);
}

.form-control {
    display: block;
    width: 100%;
    padding: 3px 10px;
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    outline: none;
}

label {
    font-weight: bolder;
    cursor: pointer;
}

.btn {
    margin: 1rem 0;
    min-width: 30%;
    display: block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: all .25s;
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}

.btn:hover {
    border-color: #137246;
    background-color: #137246;
}


.btncalc{
    background-color: #0d6efd;
    border-color: #0d6efd;
    min-width: auto;
}

.btncalc:hover{
    background-color: #0d5ed6;
    border-color: #0d5ed6;
}

.btnFechar{
    background-color: #dc3545;
    border-color: #dc3545;
    min-width: auto;
}

.btnFechar:hover{
    background-color: #b12e3b;
    border-color: #b12e3b;
}

.alert {
    display: inline-block;
    padding: .35em .65em;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    font-size: 16px;
}

.blue{
    background-color: #0d6efd;
    font-weight: 700;
}

.red{
    background-color: #dc3545;
    font-weight: normal;
}

.orange{
    background-color: #fd7e14;
    font-weight: normal;
}

.bloqueio{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.9;
}

.escondido {
    display: none;
}

.caixaFlutuante{
    width: 302px;
    height: 512px;
    padding: 10px; 
    font-weight: 700; overflow:auto;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -151px;
    margin-top: -256px;
    border-radius: 5px;
    background-color: #efefef;
    border-bottom: 1px solid #b9b9b9;
}

@media screen and (max-width: 750px) {
    .card {
        width: 90%;
        margin-left: -45%;
    }
    .btn {
        min-width: 50%;
    }

    .btncalc{
        min-width: auto;
    }
    
}